


/* Seccion Publicaciones */

.banner-publicaciones {

    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px;
    
    

    .banner-publicaciones__galeria {
   
        width: auto;
        margin: 5px;
        background-color:rgb(245, 242, 242);
        font-size: 12px;
        text-decoration: none;
        text-align: center;
        width: auto;
    }

    .banner-publicaciones__galeria img{

        object-fit: cover;
        width: 100%;
        height: auto;
        max-height: 450px;
    }

    .txt-tittle-publicaciones {

    
        padding: 10px;
        margin:10px;
        align-items: center;
        font-size: 10px;
        
    

        h4 {

            text-align: center;
            width: auto;
            font-size: 27px;
            border: 1px solid #d1d1d1;
            border-radius: 10px;
        }

        p {

            font-size: 18px;
            text-decoration: none;
            text-align: center;
            width: auto;
            border: 1px solid #d1d1d1;
            max-width: 900px;
            border-radius: 10px;
       
        }
    }
}


.txt-description-publicaciones {
     
    padding: 15px;
    margin: 50px;  
    font-size: 23px;     
  
}

.txt-aside_otras-publicaciones {
    text-align: center;
    text-decoration:underline;
    padding: 10px;
    margin: 5px;

}

.otras-publicaciones__galeria img {

    width: 100%;
    margin: 0;
    padding: 10px;
  
}

.txt-aside_otras-publicaciones__description {

    border: 1px solid #d1d1d1;
    width: auto;
    padding: 10px;
    margin: 5px 10px;
    border-radius: 10px;
    


        p {

            font-size: 18px;
            margin: 10px
    
        }

        h4 {

            font-size: 24px;
            margin: 10px ;
            border-style: inherit;  
            border: 1px solid #d1d1d1;
            padding: 10px;
            text-align: center;
            border-radius: 10px;
    
        } 
} 















































































